* {
    font-family: 'Poppins', sans serif;
}

header h1 {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header, section, footer {
    max-width: 1050px;
    width: 200%;
    margin: 10px;
    padding: 20px;
    background-color:#cccccc; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

header img {
    border-radius: 8px;
}

label {
    flex: 1;
}

button {
    background-color:#000;
    color:#fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;

}

#imageCarousel {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
    border-radius: 8px;
}

#imageCarousel img {
    width: 50%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.5s ease;
    border: 2px solid #ddd;
    margin-right: 10px;
}

#imageCarousel img:hover {
    transform: scale(1.1);
    border-radius: 8px;
    
}
#imageCarousel {
    max-height: 200px;
    overflow: hidden;
    border-color: #007BFF;
    border-radius: 8px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
}

#interestList {
    list-style-type: none;
    padding: 0;
}

#interestList li {
    background-color: #f0f0f0;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

#interestList li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}
header {
    display: flex;
    align-items: center;
}

header img {
    max-width: 150px; 
    margin-right: 10px; 
}

header h1 {
    margin: 0; 
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
}

img.property-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

button.add-to-list {
    background-color: #27ae60;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px; 
}
.list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }    
    .list img {
        width: 300px;
        border-radius: 8px;
    }    
    .list a {
        text-decoration: none;
        text-align: center;
    }    
    .list h5 {
        color: #000;
        font-size: 1rem;
        text-align: center;
    }    

    .list-residences{
        justify-content: flex-start;
    }    
    .list-residences h5{
        font-size: 13px;
        width: 80%;
        text-align: center;
    }    
    .list-residences >  l1 {
        margin-right: 3rem;
    }    

    .list-residences span:nth-child(2){
        font-size: 12px;
        color: #000;
    }    
    .list-residences span:nth-child(3){
        font-size: 13px;
    }    
    .list-residences p:nth-child(2){
        margin: 4px 0;
    }
    .card{                                
        transition: 1s;
        margin: 10px;        
    }    
    .card:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.1);
    }  
    #brl-button {
        background-color: transparent;
        border: none;
        color: white;
        cursor: pointer;
        font-weight: bold;
        margin-right: 10px;
    }
    